div.accountInfo {
    width: 42%;
}

fieldset {
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

legend {
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
    width: auto;;
    border: none;
    margin-bottom: 0px;
}

fieldset label {
    display: block;
    font-weight: normal;
    font-size: 1em;
}

input.textEntry {
    width: 320px;
    height: 27px;
    border: 1px solid #ccc;
}

.error {
    color: red;
    /* text-decoration: underline; */
    /* font-size: 20px; */
  }