<app-header></app-header>
<style>
    @font-face { font-family: vag_rounded_bold-webfont; src: url('assets/fonts/vag_rounded_thin-webfont.ttf'); } 
        h1 {
            font-weight: 600;
           font-family: vag_rounded_bold-webfont
        }
        .accountInfo {
           font-family: vag_rounded_bold-webfont
        }
    </style>
<br>
<div class="container">
    <h1>
        Create new Assocation
    </h1>
</div>
<div class="container home">
    <div class="accountInfo" style="padding-bottom: 100px">
        <form [formGroup]="form">
            <fieldset class="login">
                <legend>Association Name
                </legend>
                <div>
                    <label>Association Name:</label>
                    <input name="association" formControlName="association" type="text" id="association" class="textEntry"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.association.errors }">
                    <div *ngIf="submitted && f.association.errors" class="invalid-feedback">
                        <div *ngIf="f.association.errors.required">Please enter association!</div>
                    </div>
                </div>
                <span class="error"></span>
            </fieldset>
            <p class="submitButton">
                <input type="submit" value="Save Details"
                id="submit" class="pull-right" (click)="addassociation()">
            </p>
        </form>
    </div>
</div>